body {
  position: relative;
  z-index: 1;
  background-color: #1a1a1a;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,255,0.8) 0%, rgba(0,255,255,0.5) 70%);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
  animation: moveBubbles linear infinite;
}

@keyframes moveBubbles {
  0% {
  transform: translateY(100vh);
  opacity: 0;
  }
  50% {
  opacity: 1;
  }
  100% {
  transform: translateY(-100px);
  opacity: 0;
  }
}

.nav-links {
  display: none;   
  position: fixed; 
  top: 5%;        
  left: 1%;    
  z-index: 1000;    
  flex-direction: column; 
  gap: 20px;            
  padding: 20px;        
  list-style: none;     
  background-color: #f5deb3; 
  width: 200px;            
  border-radius: 10px;      
  margin-top: 10px;
}


.nav-links.active {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 3%;
  gap: 6%;
}
.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;  
}
.nav-links li {
  margin-bottom: 15px;
}
header {
  overflow: auto;
  margin-top: 4%;
}

.text-content {
  padding: 30px;
  color: white;
}

.profile-image {
  float: right;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10%;
}
.about{
  background-color: #f5deb3;
  color: #230345;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.about-me {
padding: 30px;
color: white;
}
.about:hover {
  background-color: #ffffff;
  color: #ffa600;
}
.back, .certificates {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
  
}

.certificates, .back {
    background-color: #f5deb3;
    color: #230345;
}

.back:hover, .certificates:hover {
    background-color: #ffffff;
    color: #ffa600;
}
.certificates-container { 
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.img-certficat-1, .img-certficat-2, .img-certficat-3, .img-certficat-4 {
  display: flex;
  flex-direction: column;
  float: right;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10%;
  margin-bottom: 7%;
}
.h1 {
  color: white;
  text-align: center;
  margin-top: 5%;
}
.certificate-text {
  color: white;
  margin-top: 10%;
  font-size: large;
}
.view-certificates, .view-projects {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
  background-color: #ececec;
  color: #230345;
}
.view-certificates:hover , .view-projects:hover {
  background-color: #000000;
  color: #ffa600;
}
.back-on {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}
.back-go {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}
.project, .projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-bottom: 1% !important;
}